annotated-types==0.6.0
anyio==4.3.0
Babel==2.14.0
beautifulsoup4==4.12.3
blinker==1.7.0
bs4==0.0.2
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
fastapi==0.110.2
Flask==3.0.3
flask-babel==4.0.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.3
lxml==5.2.1
MarkupSafe==2.1.5
pillow==10.3.0
pydantic==2.7.0
pydantic_core==2.18.1
python-telegram-bot==21.1.1
pytz==2024.1
reportlab==4.2.0
requests==2.31.0
sniffio==1.3.1
soupsieve==2.5
starlette==0.37.2
typing_extensions==4.11.0
urllib3==2.2.1
uvicorn==0.29.0
Werkzeug==3.0.2
