<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользовательское Соглашение</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>PyOSINT</h1>
        <nav>
            <a href="/">Поиск</a> | <a href="/agreement">Пользовательское Соглашение</a>
        </nav>
    </header>
    <main>
        <p>Текст пользовательского соглашения...</p>
    </main>
    <footer>
    </footer>
</body>
</html>