<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <title>{{ texts['agreement']['title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>PyOSINT</h1>
        <nav>
            <a href="/">{{ texts['agreement']['search'] }}</a> | <a href="/switch_lang/en">🇺🇸</a><a href="/switch_lang/ru">🇷🇺</a>
        </nav>
    </header>
    <main> {{ texts['agreement']['text']|safe }} </main>
</body>
</html>