<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <title>{{ texts['search']['title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>PyOSINT</h1>

        <div class="search-box">
            <form action="/" method="post">
                <input type="text" name="query" placeholder="{{ texts['search']['input'] }}" value="{{ query }}">
                <select name="option" id="option-select">
                    <option value="" disabled selected>🏷️</option>
                    {% for option in options_list %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
                <button type="submit">🔍</button>
            </form>
        </div>

        <nav>
            <a href="/agreement">{{ texts['search']['agreement'] }}</a> | <a href="/switch_lang/en">🇺🇸</a><a href="/switch_lang/ru">🇷🇺</a>
        </nav>
    </header>

    <main>
        {% macro render_value(value, margin=0) %}
          {% if value is mapping %}
            <div style="margin-left: {{ margin }}px;">
              {% for key, val in value.items() %}
                {% if val is mapping or val is iterable and val is not string %}
                  <div><strong>{{ key }}:</strong></div>
                  <div style="margin-left: {{ margin + 3 }}px;">{{ render_value(val, margin + 3) }}</div>
                {% else %}
                  <div><strong>{{ key }}:</strong> {{ val }}</div>
                {% endif %}
              {% endfor %}
            </div>
          {% elif value is iterable and value is not string %}
              {% for item in value %}
                {% if item is mapping %}
                  <hr> {{ render_value(item, margin + 3) }}
                {% else %}
                  {{ render_value(item, margin) }}
                {% endif %}
              {% endfor %}
          {% else %}
            <div>{{ value }}</div>
          {% endif %}
        {% endmacro %}

        {% if search_results %}
          <div class="search-results">
            {% for key, value in search_results.items() %}
              <div class="card">
                  <input type="checkbox" id="card-{{ loop.index }}" class="toggle" />
                  <label for="card-{{ loop.index }}" class="card-title"><h3>{{ key }}</h3></label>
                <div class="card-content">
                  {{ render_value(value) }}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
    </main>
</body>
</html>