<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyOSINT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>PyOSINT</h1>
        <nav>
            <a href="/">Search</a> | <a href="/agreement">User Agreement</a>
        </nav>
    </header>
    <main>
        <div class="search-box">
            <form action="/" method="post">
                <input type="text" name="query" placeholder="Data..." value="{{ query }}">
                <select name="option" id="option-select">
                    <option value="" disabled selected>Choose option</option>
                    {% for option in options_list %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Search</button>
            </form>
        </div>

        {% macro render_value(value, margin=0) %}
          {% if value is mapping %}
            <div style="margin-left: {{ margin }}px;">
              {% for key, val in value.items() %}
                {% if val is mapping or val is iterable and val is not string %}
                  <div><strong>{{ key }}:</strong></div>
                  <div style="margin-left: {{ margin + 20 }}px;">{{ render_value(val, margin + 5) }}</div>
                {% else %}
                  <div><strong>{{ key }}:</strong> {{ val }}</div>
                {% endif %}
              {% endfor %}
            </div>
          {% elif value is iterable and value is not string %}
              {% for item in value %}
                {% if item is mapping %}
                  {{ render_value(item, margin + 5) }}<hr>
                {% else %}
                  {{ render_value(item, margin) }}
                {% endif %}
              {% endfor %}
          {% else %}
            <div>{{ value }}</div>
          {% endif %}
        {% endmacro %}

        {% if search_results %}
          <div class="search-results">
            {% for key, value in search_results.items() %}
              <div class="card">
                <h3>{{ key }}</h3>
                <div class="card-content">
                  {{ render_value(value) }}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
    </main>
    <footer>
        Nikita Ignatovskiy | 2024
    </footer>
</body>
</html>